canvas{
    position: absolute;
    top: 0;
    z-index: -1;
}

body{
    margin: 0px;
    overflow: hidden;
    font-family: sans-serif;
}
h1{
    color:white;
}
.matahari{
    text-shadow: 0 0 20px orange;
}
p,table{
    color: white;
    padding: 5px;
    font-size: 15px;
    
}
